# Keywords

In [26]:
#Reserve words in python like in, False True etc

SyntaxError: invalid syntax (<ipython-input-26-55259624458a>, line 2)

#Print Statement

The **print** statement can be used in the following different ways :

    - print "Hello World"
    - print "Hello", <Variable Containing the String>
    - print "Hello" + <Variable Containing the String>
    - print "Hello %s" % <variable containing the string>

In [5]:
print( "Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [6]:
print( 'Hey')

Hey

In [9]:
print( """My name is Rajath Kumar M.P.

I love Python.""")

My name is Rajath Kumar M.P.

I love Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [11]:
string1 = 'World'
print ('Hello', string1)

string2 = '!'
print ('Hello', string1, string2)

Hello World
Hello World !

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [12]:
print ('Hell.o' + string1 + string2)

Hell.oWorld!

**%s** is used to refer to a variable which contains a string.

In [13]:
print ("Hello %s" % string1)

Hello World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    
This can be used for conversions inside the print statement itself.

In [28]:
rpoduct_price = 17
print ("Actual Number = %d" %rpoduct_price)
print ("Float of the number = %f" %rpoduct_price)

Actual Number = 17
Float of the number = 17.000000

When referring to multiple variables parenthesis is used.

In [15]:
print( "Hello %s %s" %(string1,string2))

Hello World !

##Other Examples

The following are other different ways the print statement can be put to use.

In [30]:
print ('*'*10)

**********
##########
 @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @

In [17]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [18]:
print ("I want \\n to be printed.")

I want \n to be printed.

In [36]:
routine = """
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
"""

print (routine)

Routine:
	- Eat
	- Sleep
	- Repeat

# Data Types

In [20]:
#Strings - combination of chars
var1 = "Hello Python"

In [22]:
#Integer - Real number can be positive negative
var2 = 100

In [23]:
#Float -number with decimals
var3 = 100.02

In [38]:
#boolean - True/Flase
var4 = True

# Dinesh

In [39]:
print(True)

True

In [40]:
True == 1

True

In [42]:
False == 0

True